body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.top{
  background-color: rgb(101, 130, 155);
}

.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center items vertically in the header */
}

.logo img{
  max-height: 50px; 
  width: auto; 
}

.login-container {
  margin-right: 10px;
}

#top-menu {
  background-color: #eee;
  padding: 10px;
  text-align: center;
}

#top-menu ul {
  list-style: none; 
  padding: 0;
  margin: 0;
  display: flex;
}

#top-menu li {
  margin-right: 20px; 
}

.hero-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#image {
  width: 50%;
  align-items: left;
}

#text-section {
  width: 50%;
  text-align: right;
}

#text-section h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

#text-section p {
  font-size: 18px;
  margin-bottom: 20px;
}

button {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border: 2px solid #333;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  
}
button:hover {
  background-color: rgb(140, 104, 173);
}
