/* Bordered header */
header {
    border: 3px solid rgb(53, 30, 30);
    background-color: rgb(189, 189, 189);
  }
  
  /* Full-width menu items */
  nav ul {
    width: 100%;
    list-style: none;
    display: inline-block;
  }
  
  /* Add some space between menu items */
  nav li {
    margin-right: 20px; 
    display: inline;
    float: left;
  }
  
  /* Center the logo image inside this container */
  header img {
    width: 100px; /* Adjust the size as needed */
    height: auto; /* Adjust the size as needed */
  }
  
  /* Center the menu items inside this container */
  nav ul {
    text-align: center;
  }
 