.header {
    background-image: url("./images/header\ image.png");
    background-size: cover;
    background-color: rgb(30, 30, 156);
    height: 200px;
    color: blue;
    font-family: Arial, sans-serif;
}
.logo {
    float: left;
    margin: 10px;
    width: 100px;
}
.title {
    text-align: center;
    font-size: 36px;
    margin-top: 50px;
}
.subtitle {
    text-align: center;
    font-size: 24px;
    color: gold;
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.nav li {
    float: left;
}
.nav li a {
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.link{
    list-style-type: none;
    float: right;
    display: flex;
    justify-content: space-between;
    color:black
}
#page{
    background-color: rgb(132, 132, 192);
    justify-content: space-between;
    display: inline-block;
}
.vision{
    position: relative;
    display: inline-block;
    color:black;
    text-align: left;
    width: 30%;
    height: 200px;
}
.footer {
    display: block;
   background-color: rgb(9, 9, 71);
     text-align: center;
    grid-gap: 10px;
    color: white;
    font-family: Arial, sans-serif;
}

.mission {

    color: black;
    width: 30%;
    height: 200px;
    text-align: middle;
    display: inline-block;
}

.notification {

    color: black;
    width: 30%;
    height: 200px;
    text-align: center;
    display: inline-block;
}
.news {

    width: 30%;
    height: 200px;
    text-align: right;
    display: inline-block;
}
.notification ul{
    display: inline-block;
    width: 30%;
    height: 200px;


}
.news ul{
    display: inline-block;
    width: 30%;
    height: 200px;
}
.images{
    height: 100px;
    width: 100px;
    display:inline;
    align-items: center;
}
